{% extends 'blog/base.html' %}
{% load blog_tags %}
{% load blog_filters %}

{% block title %}
    My Blog
{% endblock title %}

{% block content %}
    
    {% if tag %}
        <h2>Posts tagged with "{{tag.name}}"
    {% endif %}

    
    {% if query %}
        
        {% include 'blog/post/search.html' with results=posts %}
        
    {% else %}    
    {% for post in posts %}
        {% include 'blog/post/post_card.html' with post=post %}
        
    {% endfor %}

    {% include 'blog/pagination.html' with page=posts %}
    {% endif %}
{% endblock content %}